h1,H2 {
border: 5px solid black;
text-align: center;

}
body {
    background-attachment: fixed;
    background-color: gray;

}
img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}
ul li {
    display: inline;
    
    

      }
p { font-style: italic ;
font-size: 5px;
}